ALTER TABLE plans ADD COLUMN IF NOT EXISTS is_recommended BOOLEAN DEFAULT FALSE;
ALTER TABLE plans ADD COLUMN IF NOT EXISTS features_list TEXT;
ALTER TABLE plans ADD COLUMN IF NOT EXISTS daily_video_limit INT DEFAULT 0;
ALTER TABLE plans ADD COLUMN IF NOT EXISTS max_video_duration_minutes INT DEFAULT 0;
ALTER TABLE plans ADD COLUMN IF NOT EXISTS enable_shadowing BOOLEAN DEFAULT FALSE;
